@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300&display=swap');

body{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.navbar-brand{
    font-size: 32px;
    color: white;
    font-weight: 600;
    font-family: 'Permanent Marker', cursive;
}

.hero-cont{
    height: 300px;
}

#bgvid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
}

header {
    position: relative;
    z-index: 1; /* Ensure the header is on top of the video */
    background-color: transparent !important;
}

.navbar, .container-fluid {
    background-color: transparent !important;
}

.navbar-nav .nav-link {
    color: #fff; /* Set the color of the nav links */
}

h1{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-toggler{
    background-color: transparent;
    border: none;
    color: white;
}

.navbar-toggler-icon{
    filter: invert(100%);
}